#
# OpenSSL configuration file, extensions only
#

[ req ]
x509_extensions = v3_ca

[ v3_ca ]
{% if selfsign_server_ips|length > 0 or selfsign_server_dnsnames|length > 0 %}
subjectAltName = @alt_names


[alt_names]
{% for ip in selfsign_server_ips %}
IP.{{ loop.index }} = {{ ip }}
{% endfor %}

{% for hostname in selfsign_server_dnsnames %}
DNS.{{ loop.index }} = {{ hostname }}
{% endfor %}

{% endif %}
